<div class="container-fluid col-lg-offset-3">
    <div class='container-fluid'>
        <h2>Currency Converter</h2>
    </div>
    <div class='container centered'>
        <!--        <div class='col-lg-4 col-lg-offset-4'>-->
        <input class='lead' type="number" ng-model="amount">
        <button ng-click="convert()" class='btn btn-success'>Go</button>
        <!--</div>-->
    </div>
    <br>

    <div class='container-fluid' style="margin-left: -10px">
        <div class='col-md-1'>
            <p class='text-right lead'>From:</p>
        </div>
        <div class='col-md-1' >
            <div class="dropdown">

                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">{{fromCurrency}}
                    <span class="caret"></span></button>
                <ul class="dropdown-menu col-md-4" role="menu" aria-labelledby="menu1">
                    <li style="display: inline-block" ng-repeat="c in currencies" role="presentation"><a ng-click="setFromCurrency(c.code)" role="menuitem" tabindex="-1" href="#/view4">{{c.code}}</a></li>

                </ul>
            </div>
        </div>

        <div class='col-md-1' style='margin-left: 15px'>
            <p class='text-right lead'>To:</p>
        </div>
        <div class='col-md-1'>
            <div class="dropdown">

                <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">{{toCurrency}}
                    <span class="caret"></span></button>
                <ul class="dropdown-menu col-md-3" role="menu" aria-labelledby="menu1">
                    <li ng-repeat="c in currencies" role="presentation"><a ng-click="setToCurrency(c.code)" role="menuitem" tabindex="-1" href="#/view4">{{c.code}}</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class='container-fluid'>
        <p class='lead text-success' style='display: inline-block'>{{convertedAmount|twoDecimals}}</p>
        <p class='text-muted text-success' style='margin-left: 10px; display: inline-block'>{{convertedCurrency}}</p>
    </div>
</div>


<div  class="container">
    <div class="container" style="overflow: hidden;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Info</th>
                    <th>CODE</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Rate</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat-start="currency in currencies">
                    <td><button ng-click="showDetails = showDetails ? false : true"><span class="glyphicon glyphicon glyphicon-menu-down" aria-hidden="true"></span></button></td>
                    <td>{{currency.code}}</td>
                    <td>{{currency.description}}</td>
                    <td>{{currency.rates[0].date}}</td>
                    <td>{{currency.rates[0].rate}}</td>
                    <!--td>{{currency.rates | newestRate}}</td-->
                </tr>
                <tr ng-model="showDetails" ng-init="" ng-show="showDetails" ng-repeat-end>
                    <td colspan="5">
                        <ul class="list-group">
                            <li class="list-group-item" style="display: inline-block;" ng-repeat="rate in currency.rates">
                                <span style="display: block"><strong>Date: </strong>{{rate.date}}</span>
                                <span style="display: block"><strong>Rate: </strong>{{rate.rate}}</span>
                            </li>
                        </ul>
                        <!--uib-tabset active="active">
                            <uib-tab index="0" heading="Info">
                                <table class="table table-striped">
                                    <tr ng-repeat="(key, val) in resultList">
                                        <th >{{key}}</th>
                                        <td>{{val|nullFilter }}</td>
                                    </tr>
                                </table>
                            </uib-tab>
                            <uib-tab index="1" heading="Production Units">
                                <div class="container" style="overflow: auto;">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th ng-repeat="(key, val) in resultList.productionunits[0]">{{key}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="results in resultList.productionunits">
                                                <td ng-repeat="(key, val) in results">{{val|nullFilter }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </uib-tab>
                        </uib-tabset-->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>