<div class="container" style="padding-bottom: 50px; padding-top: 10px">
    <div class="container col-md-4">

        <input type="search" class="form-control" ng-model="searchInput" placeholder="Search">
    </div>
    <div class="col-md-2">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">{{searchTypeHeader|searchTypePlaceholder}}
                <span class="caret"></span></button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a ng-click="setSearchType('search', 'All')" role="menuitem" tabindex="-1" href="#/view3">All</a></li>
                <li role="presentation"><a ng-click="setSearchType('vat', 'CVR')" role="menuitem" tabindex="-1" href="#/view3">CVR</a></li>
                <li role="presentation"><a ng-click="setSearchType('name', 'Name')" role="menuitem" tabindex="-1" href="#/view3">Name</a></li>
                <li role="presentation"><a ng-click="setSearchType('phone', 'Phone')" role="menuitem" tabindex="-1" href="#/view3">Phone</a></li>
<!--                <li role="presentation" class="divider"></li>-->
<!--                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>-->
            </ul>
        </div>
    </div>
    <div class="col-md-2">
        <button class="btn btn-block btn-primary" ng-click="search()">Find</button>
    </div>
    

</div>
<div  class="container">
    <uib-accordion>
        <uib-accordion-group ng-repeat="results in resultList.productionunits"  ng-show="isPopulated" heading="{{results.name}}" >
            <table class="table table-striped">
                <tr ng-repeat="(key, val) in results">
                    <td>{{key}}:</td><td>{{val|nullFilter }}</td>

                </tr>
            </table>
        </uib-accordion-group>
    </uib-accordion>
</div>
